@charset "utf-8";

body {
    background-color: #2c3e50;
    margin: 20px;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top, .bottom {
    display: flex;
    gap: 10px;
}

.itemBox {
    background-color: #b0b0b0;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
}

#volumeBox {
    width: 150px;
    height: 250px;
}

#asrBox {
    flex: 1;
    height: 250px;
}

#managerBox {
    width: 400px;
    height: 390px;
}

#managerTitle {
    text-align: center;
    margin-bottom: 3%;
    font-weight: bold;
}

#asrManager, 
#volumePressureManager, 
#webSocketServerManager {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #333;
    background-color: #eee;
    margin: 13px;
}

#asrManagerTitle, 
#volumePressureManagerTitle, 
#webSocketServerManagerTitle {
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.hostURLRow {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-left: 20px;
}

#hostURLBoxTitle {
    font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap;
}

#hostURLBox {
    width: 40%;
    height: 20px;
    resize: none;
}

.buttonRow {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#startASR, #stopASR,
#startVolumePressure, #stopVolumePressure,
#startWebSocketServer, #stopWebSocketServer {
    height: 28px;
    width: 58px;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

#logBox {
    flex: 1;
    height: 390px;
}

#logTitle {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 6px;
}

#logHistory{
    border: 2px solid black;
    height: 340px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;
    font-size: 14px;
    background-color: #bcb5b5;
}