@charset "utf-8";

body {
    background-color: #2c3e50;
    margin: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    box-sizing: border-box;
}

.top {
    display: flex;
    gap: 10px;
    flex: 1;
}

.bottom {
    display: flex;
    gap: 10px;
    flex: 1;
    padding-bottom: 4%;
}

.itemBox {
    background-color: #b0b0b0;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 100%;
}

#volumeBox {
    width: 30%;
}

#asrBox {
    width: 70%;
}

#managerBox {
    width: 40%;
}

#logBox {
    width: 60%;
}

#volumePressureTitle {
    text-align: center;
    font-weight: bold;
}

#volumePressureImage {
    height: 70%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
}

#micIcon{
    height: 70%;
    margin-left: 15%;
}

#volumeBarContainer {
    width: 10%;
    height: 90%;
    background-color: #ddd;
    border: 1px solid #333;
    display: flex;
    align-items: flex-end;
    position: relative;
}

#volumeBar {
    width: 100%;
    height: 0%;
    background-color: limegreen;
    transition: height 0.3s ease;
}

#thresholdLine {
    position: absolute;
    left: 0;
    width: 100%;
    height:3%;
    background-color: rgb(159, 168, 177);
    cursor: ns-resize;
    user-select: none;
    top: 50%;
}

#volumePressureValue {
    height: 30%;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#asrTitle {
    text-align: center;
    font-weight: bold;
}

#asrTop {
    display: flex;
    height: 40%;
    margin-top: 7%;
    gap: 10px;
}

#asrConfidence {
    width: 60%;
    height: 50%;
    border: 2px solid black;
    display: flex;
}

#asrConfidenceTitle {
    width: 30%;
    margin-top: 5.5%;
    text-align: center;
    font-weight: bold;
}

#asrConfidenceValue {
    width: 70%;
    margin-top: 5.5%;
    text-align: center;
    font-weight: bold;
}

#asrCondition {
    width: 40%;
    height: 50%;
    border: 2px solid black;
    display: flex;
}

#asrConditionTitle {
    width: 30%;
    text-align: center;
    font-weight: bold;
    margin-top: 8%;
}

#asrConditionValue {
    width: 70%;
    text-align: center;
    font-weight: bold;
    margin-top: 8%;
}

#asrButtom {
    height: 60%;
}

#asrResult {
    height: 70%;
    width: 70%;
    margin-top: -5%;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

#managerTitle {
    text-align: center;
    margin-bottom: 3%;
    font-weight: bold;
}

#asrManager, 
#volumePressureManager, 
#webSocketServerManager {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #333;
    background-color: #eee;
    margin: 13px;
}

#asrManagerTitle, 
#volumePressureManagerTitle, 
#webSocketServerManagerTitle {
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.hostURLRow {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-left: 10%;
}

#hostURLTitle {
    font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap;
}

#hostURL {
    width: 40%;
    height: 20px;
    resize: none;
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif
}

.buttonRow {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#startASR, #stopASR,
#startVolumePressure, #stopVolumePressure,
#startWebSocketServer, #stopWebSocketServer {
    height: 28px;
    width: 58px;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}


#logTitle {
    text-align: center;
    margin-top: -1%;
    margin-bottom: 1%;
    font-weight: bold;
}

#logHistory{
    border: 1px solid black;
    height: 93%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 14px;
    background-color: #a8a2a2;
}